[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
"autopep8" = "*"
"flake8" = "*"
mypy = "*"

[packages]
pillow = "*"
ykdpyutil = {git = "https://github.com/youkidkk/python-utils"}

[requires]
python_version = "3.7"
